{% extends 'parent/base.html' %}

{% block title %}post update form{% endblock %}


{% block content %}
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        {% for image in post.images.all %}
            <img src="{{ image.image_file.url }}" alt="{{ image.description }}"><br>
            <a href="{% url 'social:image_delete' image.id %}">حذف تصویر</a><br><br>
        {% endfor %}
        <input type="submit" value="create">
    </form>
{% endblock %}
