{% extends 'parent/base.html' %}
{% load thumbnail %}
{% load static %}

{% block title %}user list{% endblock %}

{% block content %}
    <hr>
    {% for user in users %}
        <a href="{{ user.get_absolute_url }}">{{ user.username }}</a><br><br>
        {% if user.photo %}
            <a href="{{ user.get_absolute_url }}"><img src="{% thumbnail user.photo 200x0 quality=80 %}" alt=""></a>
        {% else %}
            <a href="{{ user.get_absolute_url }}"><img src="{% static 'images/profile/Avatar.png' %}" alt="" style="width: 200px;"></a>
        {% endif %}
        <hr>
    {% endfor %}
{% endblock %}
