{% extends 'parent/base.html' %}

{% block title %}profile{% endblock %}


{% block content %}
    <a href="{% url 'social:post_create' %}">ایجاد پست</a>
    <table style="width: 80%; border: 2px solid black; text-align: center; direction: rtl;">
        <tr>
            <th>ردیف</th>
            <th>پست</th>
            <th>ویرایش</th>
            <th>حذف</th>
        </tr>
        {% for post in posts %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{{ post.get_absolute_url }}">{{ post.description|truncatewords:2 }}</a></td>
                <td><a href="{% url 'social:post_update' post.id %}">ویرایش</a></td>
                <td><a href="{% url 'social:post_delete' post.id %}">حذف</a></td>
            </tr>
        {% endfor %}
    </table>
    <a href="{% url 'social:logout' %}">خروج</a><br>
    <a href="{% url 'social:password_change' %}">تغییر پسورد</a><br>
    <a href="{% url 'social:edit_user' %}">تغییر حساب کاربری</a>
{% endblock %}
